@page "/invoices"
@using Web.Models.Clients
@using Web.Models.Invoices
@using Web.Models.Users
@using Web.Services.Clients
@using Web.Services.Invoices
@using Web.Services.Users
@inject IHttpClientFactory ClientFactory
@inject IUserProviderService UserProvider;
@inject IInvoiceService InvoiceService;
@inject IClientService ClientService;
@rendermode InteractiveServer

<PageTitle>Invoices</PageTitle>

<h3>Invoices</h3>
@if (userRoles.ClientRoles is not null && userRoles.ClientRoles.Contains("Owner"))
{
    @if (clients is not null)
    {
        <select @bind="selectedClientId" class="form-select">
            <option value="">-- Select a Client --</option>
            @foreach (var client in clients)
            {
                <option value="@client.Id">@client.Name</option>
            }
        </select>
        <button class="btn btn-primary mt-2" @onclick="OnClientSelected">Load Customers</button>
        <p></p>
        <Table Striped ResponsiveMode="TableResponsiveMode.Mobile" Bordered Hoverable>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>#</TableHeaderCell>
                    <TableHeaderCell>Invoice Number</TableHeaderCell>
                    <TableHeaderCell>Issue Date</TableHeaderCell>
                    <TableHeaderCell>Due Date</TableHeaderCell>
                    <TableHeaderCell>Customer Name</TableHeaderCell>
                    <TableHeaderCell>Payment Status</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @for (var i = 0; i < customers.Count; i++)
                {
                    var index = i;
                    <TableRow>
                        <TableRowHeader>@(index + 1)</TableRowHeader>
                        <TableRowCell>@customers[index].InvoiceNumber</TableRowCell>
                        <TableRowCell>@customers[index].IssueDate</TableRowCell>
                        <TableRowCell>@customers[index].DueDate</TableRowCell>
                        <TableRowCell>@customers[index].CustomerName</TableRowCell>
                        <TableRowCell>
                            <span style="@(customers[index].PaymentStatus == PaymentStatus.Paid ? "color: green;" : "color: red;")">
                                @customers[index].PaymentStatus
                            </span>
                        </TableRowCell>
                        <TableRowCell class="icon-cell">
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <Icon Name="IconName.Eye" class="text-primary" />
                                <Icon Name="IconName.Edit" class="text-warning" />
                                <Icon Name="IconName.Delete" class="text-danger" />
                            </div>
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
    else
    {
        <p>You don`t have any client!</p>
    }

}
else
{
    <p>You are not allowed to this page!</p>
}


@code {
    private List<InvoiceResponse> customers = [];
    private List<ClientResponse> clients;
    private UserRoles userRoles;
    private Guid? selectedClientId;

    protected override async Task OnInitializedAsync()
    {
        userRoles = UserProvider.GetRoles()
            ?? new UserRoles();

        clients = await ClientService.GetUserClients();
    }

    private async Task OnClientSelected()
    {
        if (selectedClientId is not null)
        {
            customers = await InvoiceService.GetAllAsync(selectedClientId.Value);
        }
    }
}